
<p>
	<img src="styles/salmicom/images/salmicom.png">
</p>
<div id="homepage_header_wrap">
	<div id="homepage_first">
		
		
		<img src="http://www.irent.fi/uploads/7832/1_image.jpg">
	</div>
	<div id="homepage_news_box">
		<div class="homepage_black_box">
			Uutiset ja tiedotteet
		</div>


		<ul><li>Ei uutisia</li></ul>
				

		<div class="homepage_light_box">
			>> Katso kaikki uusimmat uutiset
		</div>
	</div>
</div>

[@posts]


<font size="1">MyPageSys - Custom widget - Overview-Homepage-v.0.1beta &copy Copyrights Darkside Coders 2012</font>
